
header {
    background-color: white;
}

.image-container {
    position: relative;
    width: 100%;
}

.navbar-toggler {

    &:focus {
        outline: none;
    }
    border-color: white;
    min-width: 50px;
}

#hamburger {
    height: 25px;
    transition: transform 0.3s ease;
    overflow: hidden;

}


/* ---------- Typing Header ---------- */
#sentence {
    font-family: Arial, sans-serif;
    padding: 10px;
    display: inline-block;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}

#typingHeader {
    color: rgb(130, 148, 124);
    font-weight: bold;
    font-size: 6vw;
}
    
.typing-header {
    font-size: 6vw;
    color: white;
    }

/* ----------------------------------- */


.overlay-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
}
.btn-wrapper {
position: absolute;
left: 50%;
top: 85px;
transform: translateX(-50%);
}

.list-inline-item a {
text-decoration: none;
color: black;
}

.list-inline-item a:hover {
text-decoration: underline;
color: black;
}

.img-news {
    width: 150%;
    height: auto;
}

@media (max-width: 768px) {
    .img-fluid.d-flex {
        justify-content: center !important;
        align-items: center !important;
        width:100%;
        padding-right: 6px;
        padding-left: 6px;
    }
}

.img-fluid img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.spring-new-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spring-link {
    align-self: center;
    text-decoration: none;
    color: black;
}

.spring-link:hover {
    text-decoration: underline;
    color: black;
}

#email-input-footer {
    margin: 0 auto; 
    display: block; 
    width: 30%; 
}
/*
button{
    width: 30%;
}
*/
#icon-list-footer img{
    width: 30px;
    height: auto;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #e3e3e3;
    padding: 20px 0;
}

#social-media-icons-div {
    padding-top: 40px;
    padding-bottom: 20px;

}

#customer-service-div a {
    text-decoration: none;
    color: black;
}

#customer-service-div a:hover {
    text-decoration: underline;
    color:black
}

.spacer {
    height: 100px; 
}

/*CSS för customer service sidan! */
.title {
    text-align: center;
    font-size: 3em;
    margin: 1em;
}

.faq-section{
    padding: 4em 3em;   
}

.faq {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
}

.faq li {
     background: #f2f2f2;
     border-bottom: 1px #ccc solid;
}

.faq li:first-child {
    border-top: 1px #ccc solid;
}

.q {
    padding: 1em 0; 
    border-left: 10px #f2f2f2 solid;
    cursor: pointer;
}
.q:hover, .q:hover .arrow {
    border-left-color: #2db9eb;
}

.arrow {
    display: inline-block;
    margin: 0 0.5em;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #555;
    border-bottom: 6px solid transparent;
    transition: 0.3s;
}
.faq p {
    color: #888;
    line-height: 25px;
}

.a {
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em;
}

.a-opened{
    padding: 1em 1em 2em 3.3em;
    height: initial;
}

/*CSS for product display - kolla om krockar och byt till egna klasser isf*/

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card {
    border-color: transparent;
    border-radius: 0;
}


.card:hover {
    border-color: black;
}

.card-footer {
    background-color:white;
    border-top: transparent;
}

.form-floating label {
    margin-left: 10px; 
}

#done {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    display: flex;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


/*------Footer------*/
.btn-grouped{
    width: fit-content;
}

.input-grouped{
    max-width: 210px;
}

.bi{
    font-size:x-large;
}

/*--------------------*/

#category-header {
    background-color: rgb(247, 216, 232);
    background-color: #f3ede6;
}

/* ------------------- CSS för SlideShow -----------------------*/

.slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    
}

.slide {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
}

.slideshow button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* -------------------------------------------------------------- */